<div class="page-header">
  <h1>
    <%= issue.title %>
    <%= link_to 'Back', project_path(issue.project_id), class: 'btn btn-primary btn-xs' %>
    <%= link_to 'Edit', edit_project_issue_path(issue.project_id, issue), class: 'btn btn-warning pull-right' %>
  </h1>
</div>

<div class="row">
  <div class="col-md-8 col-sm-6">
    <div class="page-header">
      <h4>Description</h4>
    </div>
    <%= raw issue.description %>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="page-header">
      <h4>Information</h4>
    </div>

    <div class="issue-information row">
      <div class="issue-information-title col-xs-4">Type</div>
      <div class="col-xs-8"><%= issue.type %></div>

      <div class="issue-information-title col-xs-4">Priority</div>
      <div class="col-xs-8"><strong><%= issue.priority_colored %></strong></div>

      <div class="issue-information-title col-xs-4">Estimate</div>
      <div class="col-xs-8"><%= issue.estimate_readable %></div>

      <div class="issue-information-title col-xs-4">Assigned To</div>
      <div class="col-xs-8"><%= issue.assigned_to_name(link: true) %></div>

      <div class="issue-information-title col-xs-4">Author</div>
      <div class="col-xs-8"><%= issue.creator_name(link: true) %></div>
    </div>
  </div>
</div>
