<!DOCTYPE html>
<html>
<head>
  <title>Kanban Board</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
      <%= render partial: 'shared/flash_notices' %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
